.DS_Store
.Rproj.user
data/large_files/*
analysis/figure*
.Rhistory
analysis/*.pdf
figures*
analysis/old*
large*/*
.Rhistory 
*.docx
*.key
*.html
*.pdf
*.png
*.jpeg
*.jpg
*out.Rdata
simulations/results2/*
simulations/data/LW2015samplingdesigns/SampleLandscapesOutputFreqs.R
simulations/data/LW2015samplingdesigns/SampleLandscapesOutputFreqsold.Rdata
results/*
large_files/*
